.s-fade-enter-active,
.s-fade-leave-active {
  transition: all .5s;
}

.s-fade-enter-from,
.s-fade-leave-to {
  opacity: 0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 1s;
}

.fade-up-enter-from,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: all 1s;
}

.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.slide-nav-enter-active {
  transition: all .5s;
}

.slide-nav-leave-active {
  transition: all .5s;
  transform-origin: left center;
}

.slide-nav-enter-from,.slide-nav-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.detail-show-enter-active,
.detail-show-leave-active {
  transition: all .5s;
}

.detail-show-enter-from,
.detail-show-leave-to {
  opacity: 0;
  transform: translateX(60px);
}