@import "./animation.scss";
.icon-font {
	overflow: hidden;
	width: 1em;
	height: 1em;
	vertical-align: -.15em;
	fill: currentColor;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "NotoSansCJK-Regular-1";
	color: #333;
}

#app {
	width: 100%;
	height: 100%;
	background-color: #f0f2f5;
	transform: translateZ(0);
	transform-style: preserve-3d;
	.current-title {
		position: absolute;
		right: 40px;
		top: 30px;
		z-index: 1;
		font-size: 80px;
		font-weight: bold;
		color: rgba(#333, .07);
	}
}